//Cores
/*Base*/
$sectionTitleColor: #254692;

/* Header */
$cor-header: #142f6c;
$cor-notificacao: #467ed6;
$cor-icon-header: #fff;

/* Menu */
$cor-bg-menu-header: #254692;
$cor-bg-menu-lista-link: #3d68cc;
$cor-bg-menu-footer: #254692;

$cor-close-btn: #ffffff;
$cor-menu-header-link: #fff;

$cor-menu-link: #fff;
$cor-menu-link-icon: #fff;

/* Departamentos */
$departamentosDesenhosTitleColor: #212529;
$departamentosListaTitleColor: #fff;
$departamentosListaTitleShadowColor: #212529;
$departamentosListaBgColor: #254692;
$departamentosListaBgOpacidade: 0.0;
$departamentosListaBorderBottomColor: #ccc;

/*Produtos*/
$precoAntigoColor: #949698;
$precoSeparadorColor: #254692;
$precoAtualColor: #254692;
$addCarrinhoBgColor: #f00;
$addCarrinhoColor: #fff;

/* Modal Default */
$modalBg: #fff;
$bgCloseModal: #ccc;
$borderCloseModal: #fff;

/* Modal Produto */
$modalProdutoBg: #fff;
$btnAddCartSymbolsColor: #fff;
$btnAddCartBgSymbolsColor: #f00;
$btnAddCartInternalBorderColor: #fff;
$btnAddCartBorderColor: #fff    ;
$btnAddCartNumberColor: #212529;
$btnAddCartBgNumberColor: #fff;
$btnAddCartBgNumberBorderTop: 1px solid #ccc;
$btnAddCartBgNumberBorderBottom: 1px solid #ccc;

/* Modal Add Lista */
$addListColor: #f00;
$addListBorderColor: #ccc;

//Fontes
$font-base: 16;

$font-family-normal: 'SenticoSansDT';
$font-family-italic: 'SenticoSansDT';

$font-family-light: 'SenticoSansDT';
$font-family-light-italic: 'SenticoSansDT';

$font-family-medium: 'SenticoSansDT';
$font-family-medium-italic: 'SenticoSansDT';

$font-family-bold: 'SenticoSansDT';
$font-family-bold-italic: 'SenticoSansDT';