.overflow-menu{
    max-width: 24px;
    position: relative;
    .overflow-menu-icon{
        width: gr(15px);
        height: gr(25px);
        display: inline-block;
        background: #000;
        margin-right: gr(15px);
    }
}

.dd-menu {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1000;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease;
    opacity:0;
    -webkit-transform-origin: right top 0px;
    -webkit-transform: scale(0);
}

.dd-menu ul {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    position:relative;
}

.dd-menu.active {
    opacity:1;
    -webkit-transform-origin: right top 0px;
    -webkit-transform: scale(1);
}

.dd-menu li {
    color:#666;
    margin: 0;
    padding: 5px 0 5px 15px;
    height: 24px;
    list-style: none;
    opacity: 0;
    transform: translateY(0px);
}

.dd-menu li {
    -webkit-transition: all 0.3s ease;
    transform: translateY(-30%);
    line-height: 1;
}

.dd-menu.active li {
    opacity: 1;
    transform: translateY(0px);
}

.dd-menu li a{
    color: inherit;
}